/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --black: #0d0d0d;
    --white: #fff;
    --red: #ff6347;
    --orange: #ff7f50;
    --yellow: #ffd700;
    --dark-gray: #333;
    --sunset-gradient: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    --wide-matrix-gradient: linear-gradient(45deg,#fcc5e4,#fda34b,#ff7882,#c8699e,#7046aa,#0c1db8,#020f75);
    --King-Yna-gradient: linear-gradient(45deg,#1a2a6c,#b21f1f,#fdbb2d);
    --Bttf: linear-gradient(45deg,#C02425,#F0CB35);

    --current-gradient: var(--Bttf);
    --dark-mode-bg: #121212;
    --dark-mode-text: #e0e0e0;
    --light-mode-bg: #f5f5f5;
    --light-mode-text: #0d0d0d;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a dark shadow for contrast */


body.light-mode {
    background-color: var(--light-mode-bg);
    color: var(--black);  /* Ensure text color is black in light mode */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    border-radius: 5px;
    font-weight: bold;
}

body.light-mode .container {
    color: var(--black);  /* Ensure container text color is black in light mode */
}

header {
    background: var(--current-gradient);
    color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

header h1 {
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 0.2;
    margin-top: -1px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.hero {
    background-image: url('images/main.jpg');
    background-size: cover;
    background-position: center bottom 25%;
    color: var(--white);
    padding: 200px 0;
    border-radius: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    margin: -200px 0 0 0;
    font-weight: bold;
    font-size: 48px;
}

.hero p {
    text-align: center;
    margin-top: 20px;
}

.section {
    padding: 40px 0;
}

.game-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    margin-bottom: 20px;
    background-color: var(--dark-gray);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

body.light-mode .game {
    background-color: var(--light-mode-bg);
    color: var(--black);  /* Ensure game text color is black in light mode */
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.game h3,
.news-item h3 {
    background: var(--current-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-item {
    background-color: var(--dark-gray);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

body.light-mode .news-item {
    background-color: var(--light-mode-bg);
    color: var(--black);  /* Ensure news item text color is black in light mode */
}

.news-item p {
    color: var(--white);
}

body.light-mode .news-item p {
    color: var(--black);  /* Ensure news item paragraph text color is black in light mode */
}

.discord-widget-wrapper {
    flex: 1 1 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    background: var(--current-gradient);
    color: var(--black);
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h1,
    nav ul {
        float: none;
        text-align: center;
    }

    nav ul {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h2 {
        font-size: 2em;
    }

    .game-list {
        flex-direction: column;
        align-items: center;
    }

    .game {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .game {
        width: 100%;
    }
}

/* AMP Button Style */
.copy-domain-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background: transparent;
    border: 2px solid var(--black);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: color 0.5s ease, border-color 0.5s ease, background 0.5s ease;
}
.copy-domain-btn.copying {
    background: transparent; /* Ensure background is transparent when copying */
}

.copy-domain-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--current-gradient);
    transition: width 0.5s ease, left 0.5s ease;
    border-radius: 18px;
    z-index: 0;
}
.copy-domain-btn.copied {
    /* Add animation styles for when button is copied */
    transform: scale(1.1); /* Example: Scale animation */
}


.copy-domain-btn span {
    position: relative;
    z-index: 1;
}



.copy-domain-btn:hover::before {
    width: 100%;
    left: 0;
}


.copy-domain-btn:focus,
.copy-domain-btn:active {
    background: transparent; /* Reset background on focus/active */
    color: var(--white);
    border-color: var(--black);
}

/* Notification Style */
#copy-notification {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--current-gradient);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    transition: bottom 0.3s ease-in-out;
}

#copy-notification.show {
    bottom: 20px;
}


/* Toggle Switch Style 
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-mode-bg);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--light-mode-bg);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--light-mode-bg);
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--dark-mode-bg);
}*/
}