/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --black: #0d0d0d; /* Darker black */
    --white: #fff; /* White */
    --red: #ff6347; /* Coral */
    --orange: #ff7f50; /* Orange */
    --yellow: #ffd700; /* Gold */
    --dark-gray: #333; /* Dark gray */
    --sunset-gradient: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db); /* Sunset gradient */
    --wide-matrix-gradient: linear-gradient(45deg,#fcc5e4,#fda34b,#ff7882,#c8699e,#7046aa,#0c1db8,#020f75); /* Wide matrix gradient */
    --King-Yna-gradient: linear-gradient(45deg,#1a2a6c,#b21f1f,#fdbb2d); /* King Yna gradient */
    --current-gradient: var(--King-Yna-gradient);


} 


/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    text-shadow: 1px 1px 2px var(--dark-gray), -1px -1px 2px var(--dark-gray); /* Enhances text legibility */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: var(--white); /* High contrast text color */
    border-radius: 5px; /* Optional: Rounded corners for aesthetics */
    font-weight: bold; /* Optional: Makes text bolder for better readability */
}

header {
    background: var(--current-gradient);
    color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

header h1 {
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 0.2; /* Keep the adjusted line-height */
    margin-top: -1px; /* Move the text up */
}
nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.hero {
    background-image: url('images/main.jpg');
    background-size: cover;
    background-position: center bottom 25%;
    color: var(--white);
    padding: 200px 0; /* Reduced top padding to raise the text */
    border-radius: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    text-align: center;
}


.hero h2 {
    margin: -200px 0 0 0; /* Keeps the adjusted margin to make the text higher */
    font-weight: bold; /* Makes the text bold */
    font-size: 48px; /* Increases the font size, adjust as needed */
}

.hero p {
    text-align: center; /* Aligns the caption text to the left */
    margin-top: 20px; /* Adds space between the welcome text and the caption */
}
.section {
    padding: 40px 0;
}

.game-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    margin-bottom: 20px;
    background-color: var(--dark-gray);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.game h3,
.news-item h3 {
    background: var(--current-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-item {
    background-color: var(--dark-gray);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news-item p {
    color: var(--white);
}

.discord-widget-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    background-color: var(--dark-gray);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.discord-widget-wrapper iframe {
    width: 100%;
    height: 450px;
    border: none;
}

footer {
    background: var(--current-gradient);
    color: var(--black);
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h1,
    nav ul {
        float: none;
        text-align: center;
    }

    nav ul {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h2 {
        font-size: 2em;
    }

    .game-list {
        flex-direction: column;
        align-items: center;
    }

    .game {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .game {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .game {
        width: calc(80% - 20px);
    }
}

/* AMP Button Style */
.copy-domain-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--white); /* Initial text color */
    background: transparent; /* Ensure background is transparent */
    border: 2px solid var(--black); /* Corrected to use CSS variable for black border */    border-radius: 20px;
    cursor: pointer;
    outline: none;
    overflow: hidden; /* Hide overflow */
    transition: color 0.5s ease, border-color 0.5s ease; /* Add transition for border-color */
}

.copy-domain-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--current-gradient);
    transition: width 0.5s ease, left 0.5s ease;
    border-radius: 18px; /* Slightly less than the button to fit inside the border */
    z-index: 0; /* Ensure it's under the text but not using negative z-index */
}

.copy-domain-btn span {
    position: relative; /* This makes the text positioned above the ::before pseudo-element */
    z-index: 1; /* Higher than the ::before pseudo-element */
}


.copy-domain-btn:hover {
    border-color: transparent; /* Fade out the border */
    color: var(--black); /* Adjust if necessary to ensure text remains readable */
}

.copy-domain-btn:hover::before {
    width: 100%;
    left: 0;
}

.copy-domain-btn:hover span {
    color: var(--white); /* Adjust if necessary to ensure text remains readable */
}

.copy-domain-btn:focus,
.copy-domain-btn:active {
    background: var(--current-gradient); /* Use the variable for the gradient */
    color: var(--black); /* Use the variable for black color */
    border-color: var(--black); /* Use the variable for black color */
}

/* Notification Style */
#copy-notification {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--current-gradient);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    transition: bottom 0.3s ease-in-out;
}

#copy-notification.show {
    bottom: 20px;
}