/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --black: #0d0d0d; /* Darker black */
    --white: #fff; /* White */
    --red: #ff6347; /* Coral */
    --orange: #ff7f50; /* Orange */
    --yellow: #ffd700; /* Gold */
    --dark-gray: #333; /* Dark gray */
    --accent-gradient: linear-gradient(to right, #F3904F, #DA9163, #C19277, #A8938B, #8F959F, #7696B3, #5D97C7, #4498DB); /* Custom gradient */
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--black);
    color: var(--white);
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
<<<<<<< HEAD
    background: var(--accent-gradient); /* Apply gradient to header */
    color: var(--white);
    padding: 10px 0; /* Increase top and bottom padding */
=======
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    color: var(--black);
    padding: 10px 0;
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
    border-radius: 10px;
    margin-bottom: 10px;
}

header h1 {
    float: left;
    font-size: 2em;
    font-weight: bold;
<<<<<<< HEAD
    font-family: 'CustomFont', Arial, sans-serif;
    background: var(--accent-gradient); /* Gradient text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px; /* Optional: Adjust bottom margin */
=======
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
<<<<<<< HEAD
    font-family: 'CustomFont', Arial, sans-serif;
    background: var(--accent-gradient); /* Gradient text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
=======
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
}

.hero {
    background-image: url('images/main.jpg');
    background-size: cover;
<<<<<<< HEAD
    background-position: center bottom 25%; /* Move background image by 25% */
=======
    background-position: center bottom 25%;
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
    color: var(--white);
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    background: var(--accent-gradient); /* Gradient text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    margin-bottom: 20px;
    background-color: var(--dark-gray);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.game h3,
.news-item h3 {
<<<<<<< HEAD
    background: var(--accent-gradient); /* Gradient text */
=======
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-item {
    background-color: var(--dark-gray);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news-item p {
    color: var(--white);
}

.discord-widget-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    background-color: var(--dark-gray);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.discord-widget-wrapper iframe {
    width: 100%;
    height: 450px;
    border: none;
}

footer {
<<<<<<< HEAD
    background: var(--accent-gradient); /* Apply gradient to footer */
    color: var(--white);
=======
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    color: var(--black);
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h1,
    nav ul {
        float: none;
        text-align: center;
    }

    nav ul {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h2 {
        font-size: 2em;
    }

    .game-list {
        flex-direction: column;
        align-items: center;
    }

    .game {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .game {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .game {
        width: calc(80% - 20px);
    }
}

/* Button Style */
.copy-domain-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
<<<<<<< HEAD
    color: var(--white); /* White text */
    background-color: transparent;
    border: 2px solid var(--accent-gradient); /* Gradient border */
=======
    color: var(--white);
    background: transparent;
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    outline: none;
    background: var(--accent-gradient); /* Gradient background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

<<<<<<< HEAD
.copy-domain-btn:hover,
.copy-domain-btn:focus,
.copy-domain-btn:active {
    background: var(--accent-gradient); /* Gradient background */
    color: var(--white); /* White text */
    border-color: var(--accent-gradient); /* Gradient border */
}

/* Notification */
#notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--accent-gradient); /* Gradient background */
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
=======
.copy-domain-btn:hover {
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    color: var(--black);
}

.copy-domain-btn:focus,
.copy-domain-btn:active {
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    color: var(--black);
    border-color: var(--black);
}

/* Notification Style */
#copy-notification {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, #f3904f, #da9163, #c19277, #a8938b, #8f959f, #7696b3, #5d97c7, #4498db);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    transition: bottom 0.3s ease-in-out;
}

#copy-notification.show {
    bottom: 20px;
}
>>>>>>> 2138f95c9aa978cf9aaa10f5fe0e99db3990624f
